<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- /.col -->
    <div class="col-md-9">
      <div class="box box-black">
        <div class="box-header with-border">
          <h3 class="box-title">List of Groups</h3>

          <div class="box-tools pull-right">
            <div class="has-feedback">
              <input type="text" class="form-control input-sm" placeholder="Search Mail">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-controls">
            <!-- Check all button -->
            <!-- /.btn-group -->
            <a href="/#/manage-sms-groups-create" class="btn btn-primary btn-sm"><i class="fa fa-user-plus"></i> <strong> CREATE GROUP</strong></a>
            
            <!-- /.pull-right -->
          </div>
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
              <tr role="row">
                  <th class="sorting_asc"  style="width: 101px;">ID</th>
                  <th class="sorting" style="width: 206px;">Name</th>
                  <th class="sorting" style="width: 372px;">Desciption</th>
                  <th class="sorting" style="width: 216px;">Date</th>
                  <th class="sorting" style="width: 129px;">Status</th>
                  <th class="sorting" style="width: 100px;"></th>
                  <th class="sorting" style="width: 80px;"></th>
              </tr>
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
          <div class="mailbox-controls">
            <!-- Check all paging -->
            <!-- /.pagging -->
            <div class="col-sm-5">
            </div>
              <div class="col-sm-7">

              </div>

            <!-- /.pull-right -->

          </div>
        </div>
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->