<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Sent SMS</h3>

          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#"><i class="fa fa-inbox"></i> Successful
              <span class="label label-success pull-right" style="font-weight:bold;">{{SmsStats.successful}}</span></a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> Failed <span class="label label-danger pull-right"  style="font-weight:bold;">{{SmsStats.failed}}</span></a></li>
          </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->

      <!-- /.box -->
    </div>
    
    <!-- /.col -->
    <div class="col-md-9">
      <div class="box box-black">
        <div class="box-header with-border">
          <h3 class="box-title">List of sent SMS</h3>

          <div class="box-tools pull-right">
            <div class="has-feedback">
              <input type="text" class="form-control input-sm" placeholder="Search Mail">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-controls">
            <!-- Check all button -->
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            
            <!-- /.pull-right -->
          </div>
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
              <tr role="row">
                  <th class="sorting_asc"  style="width: 101px;">ID</th>
                  <th class="sorting" style="width: 206px;">Phone Number</th>
                  <th class="sorting" style="width: 372px;">Message</th>
                  <th class="sorting" style="width: 216px;">Date</th>
                  <th class="sorting" style="width: 129px;">Status</th>
                  <th class="sorting" style="width: 100px;"></th>
                  <th class="sorting" style="width: 80px;"></th>
              </tr>
              <tr *ngFor="let item of smsHistoryData.items | paginate: { itemsPerPage: smsHistoryData.itemsInPage, currentPage: smsHistoryData.currentPageNumber+1,totalItems: smsHistoryData.totalItems }">
                  <td class="mailbox-star">{{item.id}}</td>
                  <td class="mailbox-name">{{item.cellNumber}}</td>
                  <td class="mailbox-subject">{{item.message}}</td>
                  <td class="mailbox-date">{{item.dateTime}}</td>
                  <td class="mailbox-attachment">
                    <span *ngIf="item.responseMessage=='success'" class="badge bg-green">success</span>
                    <span *ngIf="item.responseMessage !='success'" class="badge bg-red">failed</span>
                  </td>
                  <td *ngIf="item.responseMessage=='success'" class="mailbox-name">
                    <a (click)="resendSmsEvent(item.id)" style="color:black; font-weight: bold; cursor: pointer;">Resend</a>
                    </td>
                    <td class="mailbox-date">
                    <a href="/campaign-manager-ui/#/send-sms/id/{{item.id}}" style="color:black; font-weight: bold; cursor: pointer;">Edit</a>
                    </td>
              </tr>
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
          <div class="mailbox-controls">
            <!-- Check all paging -->
            <!-- /.pagging -->
            <div class="col-sm-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing {{smsHistoryData.operationMessage}} of {{smsHistoryData.totalItems}} entries</div>
            </div>
              <div class="col-sm-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                      
                      <pagination-template #p="paginationApi"
                      (pageChange)="pageChanged($event)">
                      <ul class="pagination">
                      <li class="paginate_button previous" id="example1_previous">
                          <a *ngIf="!p.isFirstPage()" (click)="p.previous()">Previous</a>
                      </li>

                      <li *ngFor="let page of p.pages" [ngClass]="p.getCurrent() === page.value ? 'paginate_button  active' : 'paginate_button'">
                        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" aria-controls="example1" data-dt-idx="1" tabindex="0">{{page.label}}</a>
                        <a *ngIf="p.getCurrent() === page.value" aria-controls="example1" data-dt-idx="2" tabindex="0">{{page.label}}</a>
                      </li>

                      <li class="paginate_button next" id="example1_next">
                        <a *ngIf="!p.isLastPage()" (click)="p.next()">Next</a>
                      </li>
                    </ul> 
                    </pagination-template>
                   
                  </div>
              </div>

            <!-- /.pull-right -->

          </div>
        </div>
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->