<mk-tabs styleClass="sidebar-right-tabs-wrapper" navStyleClass="nav nav-tabs nav-justified control-sidebar-tabs">
  <mk-tab>


    <mk-tab-header>
      <i class="fa fa-wrench"></i>
    </mk-tab-header>

    <mk-tab-content>
      <div>
        <h4 class="control-sidebar-heading">Sign Out</h4>
        <div class="form-group">
          <p>Activate Log Out.</p>
        </div>

      </div>
    </mk-tab-content>
  </mk-tab>
  <mk-tab>


    <mk-tab-header><i class="fa fa-home"></i></mk-tab-header>
    <mk-tab-content>
      <h3 class="control-sidebar-heading">Recent Activity</h3>
      <ul class="control-sidebar-menu">
        <li>
          <a href="javascript:void(0)">
            <i class="menu-icon fa fa-user bg-yellow"></i>

            <div class="menu-info">
              <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

              <p>New phone +1(800)555-1234</p>
            </div>
          </a>
        </li>
      </ul>
      <!-- /.control-sidebar-menu -->

      <!-- /.control-sidebar-menu -->
    </mk-tab-content>
  </mk-tab>


</mk-tabs>
